cursors/.local/share/icons/hicolor
env/.local/share/icons/hicolor
env/.local/share/fonts/IosevkaNerdFont/.uuid
env/.config/mpd/database
env/.config/mpd/log
env/.config/mpd/state
env/.config/mpd/sticker.sql
