/* SARNAI COLORS */
@define-color base       rgb (23,  38,  32);
@define-color surface    rgb (33,  54,  45);
@define-color overlay    rgb (45,  73,  61);
@define-color muted      rgb (78,  126, 107);
@define-color subtle     rgb (144, 187, 170);
@define-color text       rgb (223, 236, 231);
@define-color sarnai     rgb (240, 195, 203);
@define-color anis       rgb (255, 107, 107);
@define-color chatsalgan rgb (229, 149, 26);
@define-color els        rgb (204, 162, 77);
@define-color uvs        rgb (128, 185, 70);
@define-color nuur       rgb (43,  135, 158);
@define-color mus        rgb (157, 234, 234);
@define-color yargui     rgb (213, 179, 229);

/* STYLE */
*
{
  font-family: Iosevka Nerd Font Propo;
  font-size: 16pt;
  font-weight: 700;
  border: none;
  min-height: 0;
}

window#waybar
{
  color: @text;
  background-color: @base;
  border-bottom: 2px solid @surface;
}

tooltip
{
  background-color: @base;
  border: 2px solid @overlay;
}

tooltip label
{
  color: @text;
}

box.modules-left
, box.modules-center
, box.modules-right
{
  margin: 0 0.5em;
}

#workspaces button
{
  padding: 0 0.5em;
  border-radius: 0;

}

#workspaces button:hover
{
  background: @surface;
}

#workspaces button.focused
{
  background-color: @surface;
  color: @sarnai;
  box-shadow: inset 0 -2px 0 0 @sarnai;
}

#workspaces button.empty
, #custom-delimitor
{
  color: @overlay;
}

#pulseaudio.muted
{
  color: @muted;
}

#workspaces button
, #window.module
, #pulseaudio.low
{
  color: @subtle;
}

.off
, .critical
, #disk.critical
, #cpu.critical
, #memory.critical
, #pulseaudio.critical
, #bluetooth.off
, #battery.off
{
  color: @anis;
}

.warning
, #workspaces button.urgent
, #disk.warning
, #cpu.warning
, #memory.warning
, #pulseaudio.warning
, #battery.warning
{
  color: @chatsalgan;
}

#memory
{
  color: @els;
}

#disk
{
  color: @uvs;
}

#cpu
, #bluetooth.connected
{
  color: @nuur;
}

#pulseaudio
, #pulseaudio.normal
{
  color: @mus;
}

.on
, #bluetooth.on
, #battery
{
  color: @sarnai;
}

#clock
, #mode
{
  color: @yargui;
}

