/* SARNAI COLORS */
@define-color base rgb (23, 38, 32);
@define-color surface rgb (33, 54, 45);
@define-color overlay rgb (45, 73, 61);
@define-color muted rgb (78, 126, 107);
@define-color subtle rgb (144, 187, 170);
@define-color text rgb (223, 236, 231);
@define-color sarnai rgb (240, 195, 203);
@define-color anis rgb (255, 107, 107);
@define-color	chatsalgan rgb (229, 149, 26);
@define-color els rgb (204, 162, 77);
@define-color uvs rgb (128, 185, 70);
@define-color nuur rgb (43, 135, 158);
@define-color mus rgb (157, 234, 234);
@define-color yargui rgb (213, 179, 229);

/* GLOBAL */
* {
  font-family: Iosevka Nerd Font;
  font-size: 12pt;
}

window#waybar {
  background-color: @base;
}

label.module {
  color: @base;
  padding: 0 .4em;
}

/* LEFT /// WORKSPACES */
#custom-homelab {
  margin-left: 1rem;
}

#custom-homelab.up {
  color: @uvs;
}

#custom-homelab.down {
  color: @anis;
}

#workspaces button {
  color: @muted;
  border-radius: 0;
  padding: 0 .4em;
}

#workspaces button.visible {
  color: @sarnai;
  font-weight: bold;
}

#workspaces button.urgent {
  color: @anis;
}

#workspaces button.empty {
  color: @muted;
}

/* LEFT /// MODE */
#mode {
  color: @chatsalgan;
}

/* CENTER /// SWAY WINDOW */
#window {
  color: @subtle;
}

/* RIGHT /// MODULES */
#network {
  color: @uvs;
}

#network.disabled {
  color: @muted;
}

#network.disconnected {
  color: @anis;
}

#disk,
#memory {
  color: @nuur;
}

#disk.warning,
#memory.warning {
  color: @chatsalgan;
}

#disk.critical,
#memory.critical {
  color: @anis;
}

#pulseaudio {
  color: @chatsalgan;
}

#pulseaudio.high {
  color: @mus;
}

#pulseaudio.mid {
  color: @subtle;
}

#pulseaudio.low {
  color: @muted;
}

#pulseaudio.muted {
  color: @muted;
}

#clock {
  margin-right: 1rem;
  color: @yargui;
}
