/* SARNAI COLORS */
@define-color base rgb (23, 38, 32);
@define-color surface rgb (33, 54, 45);
@define-color overlay rgb (45, 73, 61);
@define-color muted rgb (78, 126, 107);
@define-color subtle rgb (144, 187, 170);
@define-color text rgb (223, 236, 231);
@define-color sarnai rgb (240, 195, 203);
@define-color anis rgb (255, 107, 107);
@define-color	chatsalgan rgb (229, 149, 26);
@define-color els rgb (204, 162, 77);
@define-color uvs rgb (128, 185, 70);
@define-color nuur rgb (43, 135, 158);
@define-color mus rgb (157, 234, 234);
@define-color yargui rgb (213, 179, 229);

/* STYLE */
* {
  font-family: Iosevka Nerd Font Propo;
  font-size: 12pt;
  font-weight: 700;
}

window#waybar {
  background-color: @base;
}

label.module {
  color: @base;
  margin: 0 0.4rem;
}

#workspaces button {
  padding: 0 0.4em;
}

#custom-homelab {
  margin-left: 1rem;
}

#custom-homelab.up,
#workspaces button.visible,
#bluetooth.connected {
  color: @sarnai;
}

#custom-homelab.down,
#workspaces button.urgent,
#bluetooth.off,
#disk.critical,
#cpu.critical,
#memory.critical,
#pulseaudio.muted {
  color: @anis;
}

#mode,
#disk.warning,
#cpu.warning,
#memory.warning,
#pulseaudio {
  color: @chatsalgan;
}

#disk {
  color: @els;
}

#cpu {
  color: @uvs;
}

#memory {
  color: @nuur;
}

#pulseaudio.high {
  color: @mus;
}

#clock {
  margin-right: 1rem;
  color: @yargui;
}

#workspaces button,
#workspaces button.empty,
#bluetooth.on,
#pulseaudio.low {
  color: @muted;
}

#window,
#pulseaudio.mid {
  color: @subtle;
}
