/* SARNAI COLORS */
@define-color base				rgb ( 23,  38, 	32);
@define-color surface			rgb ( 33,  54, 	45);
@define-color overlay			rgb ( 45,  73, 	61);
@define-color muted 			rgb ( 78, 126, 107);
@define-color subtle			rgb (144, 187, 170);
@define-color text				rgb (223, 236, 231);
@define-color sarnai			rgb (240, 195, 203);
@define-color anis				rgb (255, 107, 107);
@define-color	chatsalgan	rgb (229, 149, 	26);
@define-color els					rgb (204, 162,  77);
@define-color uvs					rgb (128, 185, 	70);
@define-color nuur				rgb ( 43, 135, 158);
@define-color mus					rgb (157, 234, 234);
@define-color yargui			rgb (213, 179, 229);

/* GLOBAL */
* {
	font-family: Iosevka;
	font-size: 14pt;
}

window#waybar {
	background-color: @base;
}

label.module {
	color: @base;
	padding: 0 .5em;
}

/* LEFT /// WORKSPACES */
#workspaces button {
	color: @subtle;
	background-color: @surface;
	border-radius: 0;
	padding: 0 .5em;
}

#workspaces button.active {
	color: @base;
	background-color: @sarnai;
}

#workspaces button.visible {
	color: @base;
	background-color: @sarnai;
}

#workspaces button.urgent {
	color: @base;
	background-color: @anis;
}

#workspaces button.empty {
	color: @base;
	background-color: @muted;
}

/* LEFT /// MODE */
#mode {
	color: @base;
	background-color: @chatsalgan;
}

/* CENTER /// SWAY WINDOW */
#window {
	color: @subtle;
}

/* RIGHT /// MODULES */
#language {
	background-color: @els;
}

#pulseaudio {
	background-color: @uvs;
}

#pulseaudio.muted {
	background-color: @muted;
}

#network {
	background-color: @nuur;
}

#network.disabled {
	background-color: @muted;
}

#network.disconnected {
	background-color: @anis;
}

#disk {
	background-color: @mus;
}

#clock.date {
	background-color: @yargui;
}

/* RIGHT /// SEPARTOR/SPACER */
#custom-separator {
	color: @overlay;
	padding: 0;
	margin: 0 .25em;
}

#custom-spacer {
	padding: 0;
	margin: 0 .25em;
}
